/*Déclaration de couleurs*/
:root {
    /*color primary*/
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --cyan-transparent: hsla(178, 100%, 50%, 0.45);
    /* neutral color*/
    --very-dark-blue: hsl(217, 54%, 11%);
    --very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --very-dark-blue-card-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

    --img-width:300px;
}

/* style des élements développé    */

body {
    background-color: var(--very-dark-blue);
    font-family: 'Outfit', sans-serif;

}

section.nft-card {
    width: fit-content;
    height: fit-content;
    background-color: var(--very-dark-blue-card-BG);
    padding: 10px 20px;
    margin : auto;
}

h1.title {
    color: var(--white);
    font-weight: 600;
    margin-top: 20px;
}

p span.full-name{
    color: var(--white);

}

p.description {
    color: var(--soft-blue);
    font-weight: 300;
}

div.nft-photo {
    background-color: #194031;
    background-image: url('../images/image-equilibrium.jpg');
    width: var(--img-width);
    height: var(--img-width);
    background-size: cover;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}

img.view-photo {
    display: none;
}

div.nft-photo:hover img.view-photo {
    display: block;
    cursor: pointer;
}

div.container-calque {
    width: var(--img-width);
    height: var(--img-width);
    border-radius: 10px;
    cursor: pointer;
}

div.nft-photo:hover div.container-calque {
    background-color: var(--cyan-transparent);
    display: flex;
    justify-content: center;
    align-items: center;

}


div.container-price{
    color:var(--cyan);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.container-days-left{
    color:var(--soft-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.author{
    color:var(--soft-blue);
    display: flex;
    align-items: center;
    border-top: 0.5px solid var(--very-dark-blue-card-line);
    padding-top: 10px;

}
span.full-name{
    color: var(--cyan);
}
div.details-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img.avatar-img{
    width: 30px;
    margin-right: 10px;
    border: 1px solid var(--white);
    border-radius: 50px;
}

div.informations-container{
    width:var(--img-width);
}

img.icon {
    padding-right: 5px;
}

img.icon-time{
    padding-right: 10px;
}


div, h1,p {
    margin: 10px 0;
    font-size: 18px;
}


h1.title:hover {
    color: var(--cyan) ;
    cursor: pointer;
}

span.full-name:hover {
    color: var(--cyan) ;
    cursor: pointer;
}
